<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
        <configSections>
        <section name="PatientChargeUpdate" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
 <PatientChargeUpdate>    
    <add key="debug" value="false"/> <!--sets the connect str to BIAdmin db (see UpdatePatCharges.UpdatePatientCharge)-->
   <add key="updateTables" value="false"/> <!-- set to false to see which items are going to be changed (check the log file) without changing them -->
   <add key="trace" value="false"/>  <!-- this shows the path by method that the app takes to perform an operation -->
   <add key="verbose" value="false"/>
   <add key="attribCount" value="21"/>    <!-- the number of columns in the uwm_BIAdmin.dbo.uwm_New_PatientChargeTierLevels table -->
   <add key="logFile" value="PCULog_"/>
   <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\PatientChargeUpdate\Logs\"/>
   <add key="backup_path" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\PatientChargeUpdate\"/>
   <add key="recipients" value="dlrjones@uw.edu"/>           <!--  ,pmmhelp@uw.edu"/>  -->
   <add key="xpnse_accnt" value="731000"/>  <!-- expense account number for HMC implants-->

    <add key="cnctBIAdmin" value="Data Source=UWM-HEBI1;Database = uwm_BIAdmin; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
  <!--  <add key="cnctMPOUS" value="Data Source=iv-mpous-db;Database = PointOfUseSupply; Provider=SQLNCLI10; Trusted_Connection=Yes;"/> 
   <add key="cnctHEMM_HMC" value="Data Source=H-HEMMDB;Initial Catalog = HEMM; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
    SEE /DataManager :: GetConnectString()-->
   <add key="cnctHMC_TEST" value="Data Source=HVM-HEMMDB-T;Initial Catalog = HEMM_TEST; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
   <add key="cnctUWMC_TEST" value="Data Source=UVM-HEMMDB-T;Initial Catalog = HEMM_TEST; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
   
   <add key="task" value="incremental"/>  <!-- either incremental or full   -->
   <add key="location_code" value="8"/>  <!-- this is a code telling which entities to operate on based on this table:
                    Valley = 1
                    Northwest = 2                    
                    MPOUS = 4
                    UWMC = 8
                    HMC = 16
                    
The number is additive so that updating only HMC (16) and MPOUS (4) yields a code of 20.
Updating UWMC, Northwest and Valley would yield a code of 11
A code of 31 updates all of them.
-->
   
  
 </PatientChargeUpdate>
<!-- SEARCH FOR THE TERM "COMMENT" -->
</configuration>
